# This is a template for an OpenSesame experiment, that will be automatically
# modified by unittest. Do not open this file in the OpenSesame GUI!

set foreground "white"
set coordinates "relative"
set font_family "mono"
set background "black"
set subject_nr "0"
set start "inline_script"
set canvas_backend %(backend)s
set width %(width)d
set height %(height)d

define inline_script inline_script
	___run__
	from openexp.canvas import canvas
	import numpy as np
	
	if not hasattr(exp, 'boks'):
		raise Exception('Please run this experiment using the unittest script')
	
	cIns = canvas(exp)
	cIns.text('Hold the photodiode to the top-left of the display and press a button')
	cIns.show()
	exp.boks.set_continuous(False)
	exp.boks.set_buttons(None)
	exp.boks.get_button_press()
		
	c1 = canvas(exp)
	c2 = canvas(exp, bgcolor='white')
	exp.boks.set_continuous(True)
	exp.boks.set_buttons([8])
	exp.results = np.zeros(exp.N)
	for i in range(exp.N):	
		c1.show()
		self.sleep(200)
		t1 = c2.show()
		button, t2 = exp.boks.get_button_press()
		exp.results[i] = t2-t1
	__end__
	set _prepare ""
	set description "Executes Python code"

